@CHARSET "UTF-8";
body {
background-image: url("../book.jpg")
}
* {
  margin:0; padding:0;
}
header {
  width: 100%;
  padding: 15px 0;
  margin: 0 auto;
  text-align: center;
}
header .headline{
  font-size: 32px;
  background-color:black;
}
input#submit_button {
    padding: 5px 40px;
    font-size: 1.4em;
}
.button {
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 20pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 12px 12px;   /* 余白       */
  background    : black;     /* 背景色     */
  color         : white;     /* 文字色     */
  line-height   : 3px;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 6px 6px 3px #666666;  /* 影の設定 */
  border        : 2px solid #000066;    /* 枠の指定 */
}
.button:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : white;     /* 背景色     */
  background    : black;     /* 文字色     */
}
</style>
.center {
    text-align: center;
}
input[type=text]{
width:200px;
height:50px;
}
